<header id="header" class="ashish-header">
	<div class="menu-btn">
		<span><i class="fa fa-window-close"></i></span>
	</div>
	<div class="ashish-brand">
		<figure class="ashish-profile">
			<img src="assets/ashish-yadav.jpg" class="img-fluid">
		</figure>
		<div class="ashish-info">
			<h1>Ashish Yadav</h1>
			<span>Full Stack Developer</span>
		</div>
	</div>
	<nav class="ashish-nav">
		<ul class="ashish-nav-list">
			<li class="ashish-nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> 
				<a routerLink="/"> Introduction </a> 
			</li>
			<li class="ashish-nav-item" routerLinkActive="active"> 
				<a routerLink="/blog"> Blog </a> 
			</li>
			<li class="ashish-nav-item" routerLinkActive="active"> 
				<a routerLink="/contact"> Contact </a> 
			</li>
		</ul>
	</nav>
	<div class="nav-social">
		<ul class="nav-social-list">
			<li> 
				<a href="https://www.facebook.com/ashiish.me/" target="_blank">
					<i class="fa fa-facebook" aria-hidden="true"></i> 
				</a>
			</li>
			<li> 
				<a href="https://twitter.com/ashiishme" target="_blank">
					<i class="fa fa-twitter" aria-hidden="true"></i> 
				</a>
			</li>
			<li> 
				<a href="https://www.linkedin.com/in/chandradevyadav/" target="_blank">
					<i class="fa fa-linkedin" aria-hidden="true"></i> 
				</a>
			</li>
			<li> 
				<a href="https://codepen.io/ashiishme/" target="_blank">
					<i class="fa fa-codepen" aria-hidden="true"></i> 
				</a>
			</li>
			<li> 
				<a href="https://github.com/ashiishme" target="_blank">
					<i class="fa fa-github" aria-hidden="true"></i>
				</a>
			</li>
			<li> 
				<a href="https://stackoverflow.com/users/6118353/ashiish-me?tab=profile" target="_blank">
					<i class="fa fa-stack-overflow" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="nav-footer">
		<div class="nav-footer-text">
			<p><i class="fa fa-copyright" aria-hidden="true"></i> 2018 - www.ashiish.me</p>
		</div>
	</div>
</header>
