
.ashiish-greet {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	color: #f44336;
}

.ashiish-intro h1 {
	font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.ashiish-weird-intro {
	line-height: 2;
}

.ashiish-weird-intro i {
	color: #f44336;
}

.ashiish-details {
	margin-top: 2rem;
}

.section-title {
	margin-bottom: 2rem;
}

.section-title h3 {
	font-weight: bold;
	text-transform: uppercase;
}