<div id="home" class="container ashiish-home">
	<div class="col ashiish-intro py-4">
		<span class="ashiish-greet">Namaste</span>
		<h1>I'm Ashish Yadav</h1>
		<span>Full Stack Developer</span>
		<br>
		<br>
		<p class="ashiish-weird-intro"> I am from Butwal, Nepal. I work as a full time WordPress Engineer and a part time freelance Digital Marketer. I have been freelancing since 3 years, started as a front end developer now I have mastered some serious skills. I don't really want to talk about my academy but I have knowledge and I love to share. <i class="fa fa-heart"></i></p>
	</div>
</div>